@media only screen and (min-width: 64em) {

    #cta {
        font-size: 9vw;
    }

    h1 {
        top: 13%;
    }

    header {
        display: flex;
        justify-content: space-between;
        padding: 2%;
        margin-left: 1%;
        margin-right: 1%;
    }

    container {
        display: none;
    }

    nav {
        background-color: #ffad00;
    }

    nav ul.hide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        padding-left: 10px;
    }

    nav ul {
        width: 100%;
        padding-left: 2%;
    }

    nav ul li {
        background-color: #ffad00;
    }

    nav ul li a {
        border: none;
        border-right: 2px solid rgba(0, 0, 0, .2);
        padding: .8em 1em;
    }

    #services {
        max-width: 40%;
    }

    .bikes-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .contact-grid {
        display: grid;
        justify-content: space-around;
        grid-template-columns: auto auto auto;
        grid-column-gap: 2%;
        margin-right: 5%;
        margin-left: 5%;
    }

    #event-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-around;
        margin: auto;
        margin-left: 12%;
        margin-right: 12%;
    }

/*
    #contact-form {
        grid-column: 2;
        grid-row: 1/2;
    }
*/

}
