* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #fff;
    background-color: #4d4d4d;
    margin: 0;
}

/*
main {
    max-width: 100em;
    margin: auto;
}
*/

h1 {
    width: 0;
    text-align: left;
    transform-origin: bottom;
    transform: rotate(90deg);
    position: fixed;
    z-index: 1;
    left: 38px;
    top: 4.3%;
    font-family: 'Maven Pro', sans-serif;
    font-size: 100px;
    line-height: 0;
    opacity: .2;
}

h2 {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    font-size: 30px;
}

h3 {
    font-family: 'Maven Pro', sans-serif;
    color: #fff;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 3px;
    margin-left: 12%;
    margin-right: 12%;
}

p {
    margin-left: 12%;
    margin-right: 12%;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    margin-left: 2%;
    margin-right: 2%;
}

nav {
    display: flex;
    justify-content: flex-end
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffad00;
    width: 100%;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    padding-right: 1.5rem;
    text-decoration: none;
    color: #fff;
    border-top: 2px solid rgba(0, 0, 0, .2);
    text-align: right
}

nav ul li.active a {
    background-color: rgba(0, 0, 0, 0.1)
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul.hide {
    display: none;
}

#logoheader {
    width: 45%;
}

container {
    margin-top: 10px;
    margin-right: 5px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-5.8px, -4.8px);
    transform: rotate(45deg) translate(-5.8px, -4.8px);
}

figure {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

.adventures {
    width: 100%;
}

main figure {
    margin: 0;
    position: relative;
    color: white;
}

main div {
    margin-bottom: 45px
}

main emphasis {
    font-weight: 700;
    font-size: 18px;
}

#cta {
    text-align: right;
    font-size: 15vw;
    margin: 0;
    position: absolute;
    top: 6px;
    right: 25px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, .3);
}

table {
    color: #fff;
}

footer p {
    text-align: center;
    margin: auto;
    padding: auto;
    color: #4d4d4d;
}

footer {
    padding: 6%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-flow: column;
    font-size: 14px;
    background-color: #ffad00
}

footer #socialmedia {
    display: flex;
    justify-content: center;
    flex-flow: column;
    margin: auto;
}

#follow {
    color: #4d4d4d;
    text-align: center;
    margin: auto;
}


footer img {
    height: 30px;
    justify-content: space-around;
    align-items: bottom;
    margin: 10px;
}

#fb {
    margin-right: 12.5px;
}

footer emphasis {
    font-family: 'Maven Pro', sans-serif;
    font-size: 18px;
}
