/* Delete these CSS comments after reading. */
/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}  /* This wildcard applies to all elements ensuring a box layout model */

body {
    font-size: 16px;
    font-family: roboto, sans-serif;
    background-color: #e6e6e6;
}

header, nav, main, footer
    max-width: 425px;
}

header {}
header h1 {}
header img {}
header .subheading {}

nav {
    background-color: #ffffff;
    margin: 0;
    width: 100%;
    padding: .75em;
}
nav button {}
nav ul {
    display: none;
}
nav ul li {}
nav ul li a {}
nav ul li.active a {}
nav ul li a:hover {}

nav img {
    padding-top: 5px;
}

nav .hamburger{
    float: right;
    clear: right;
    width: 30px;
    height: 3px;
    background-color: #444444;
    margin: 3px 0;
    text-align: center;
}

main {
    width: auto;
}
main h2 {
    font-family: montserrat, helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 45px;
}
main h3 {
    font-family: montserrat, helvetica, sans-serif;
    margin: 0;
    letter-spacing: .5px;
    color: #5a92d2;
    font-size: 25px;
    padding-left: .75em;
    padding-bottom: -50px;
    padding-top: 25px;
}
main figure { margin: 0; width:100%; }
main figure img {}

.city-container{
    position: relative;
    text-align: center;
    color: white;
}

#city-name {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.clearfix {
    overflow: auto;
}

section.weather-summary {
    position: relative;
    background-color: #fff;
    margin: 3em;
    margin-top: .1em;
    padding 2em;
}

#weather-icon {
    width: 200px;
    padding: 2em;
}

h4 {
    color: #d4413d;
}

.conditions {
    position: right;
}

.forecast {
    display: none;
}

footer {}
