* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: roboto, sans-serif;
    background-color: #e6e6e6;
}

body, header, nav, main, footer {
    max-width: 960px;
    margin: 0 auto;
}

header {}

header h1 {}

header img {}

header .subheading {}

nav {
    background-color: #ffffff;
    width: 100%;
    padding: .75em;
}

nav button {}

nav ul {
    display: none;
}

nav ul li {}

nav ul li a {}

nav ul li.active a {}

nav ul li a:hover {}

nav img {
    padding-top: 5px;
    width: 200px;
}

nav .hamburger {
    float: right;
    clear: right;
    width: 30px;
    height: 3px;
    background-color: #444444;
    margin: 3px 0;
}

.top-border {
    height: 25px;
    width: 100%;
    background-color: #5a92d2;
}

.top-border2 {
    height: 10px;
    width: 100%;
    background-color: #d4413d;
}

main {}

main h2 {
    font-family: montserrat, helvetica, sans-serif;
    margin: 0;
    letter-spacing: 1px;
    color: #fff;
    font-size: 45px;
}

main h3 {
    font-family: montserrat, helvetica, sans-serif;
    margin: 0;
    letter-spacing: .5px;
    color: #5a92d2;
    font-size: 25px;
    padding-left: .75em;
    padding-top: 25px;
}

main figure {
    margin: 0;
    width: 100%;
}

main figure img {
    margin: 0;
    width: 100%;
}

.city-container {
    position: relative;
    text-align: center;
    color: white;
}

#city-name {
    position: absolute;
    bottom: 0;
    left: 20px;
}

.clearfix {
    overflow: auto;
}

section.weather-summary {
    position: relative;
    background-color: #fff;
    margin-top: .1em;
    padding: 2em;
}

#weather-icon {
    width: 200px;
    padding: 2em;
}

h4 {
    color: #d4413d;
}


.forecast {
    display: none;
}

.article-heading {
    position: relative;
    text-align: center;
    color: white;
}

#article-name {
    position: absolute;
    bottom: 0;
    left: 20px;
    text-align: left;
}

article img {
    margin: 0;
    width: 100%;
}

.town-article {
    margin: 2em;
}

.bottom-border2 {
    height: 10px;
    width: 100%;
    background-color: #d4413d;
}

.bottom-border {
    height: 25px;
    width: 100%;
    background-color: #5a92d2;
}

footer {
    background-color: #fff;
    padding: 2em;
}
