@media only screen and (min-width: 64em) {
    main {
        padding-left: 15%;
        padding-right: 15%;
    }

    main.gallery-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 50px;
    }
}
